.a-logo-for-a-cafe-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.a-logo-for-a-cafe-menue {
  height: 121px;
  display: flex;
  padding: 0 80px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.a-logo-for-a-cafe-navlink {
  display: contents;
}
.a-logo-for-a-cafe-frame92 {
  width: 165px;
  height: 51.44117736816406px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  text-decoration: none;
  background-image: url("/external/tq_olqytaor-_-9ctg-1500h.png");
}
.a-logo-for-a-cafe-frame84 {
  gap: 10px;
  bottom: 8rem;
  display: flex;
  position: relative;
  transform: rotate(270deg);
  align-self: flex-start;
  align-items: flex-end;
  margin-right: 130px;
  flex-direction: column;
}
.a-logo-for-a-cafe-navlink1 {
  display: contents;
}
.a-logo-for-a-cafe-frame841 {
  width: 120px;
  height: 38px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.a-logo-for-a-cafe-text {
  top: 6px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a-logo-for-a-cafe-frame85 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 71, 247, 1);
}
.a-logo-for-a-cafe-text02 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a-logo-for-a-cafe-frame86 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(71, 199, 255, 1);
}
.a-logo-for-a-cafe-text04 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a-logo-for-a-cafe-frame87 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 255, 117, 1);
}
.a-logo-for-a-cafe-text06 {
  top: 6px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a-logo-for-a-cafe-frame88 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 71, 71, 1);
}
.a-logo-for-a-cafe-text08 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a-logo-for-a-cafe-frame89 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 152, 31, 1);
}
.a-logo-for-a-cafe-text10 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a-logo-for-a-cafe-frame90 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(151, 71, 255, 1);
}
.a-logo-for-a-cafe-text12 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a-logo-for-a-cafe-frame91 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(207, 255, 71, 1);
}
.a-logo-for-a-cafe-text14 {
  top: 6px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.a-logo-for-a-cafe-text16 {
  margin-top: 10%;
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 50px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  padding-top: 0px;
  font-stretch: normal;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0px;
  text-decoration: none;
}
.a-logo-for-a-cafe-tshirts {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: column;
  padding-bottom: 12%;
  justify-content: center;
}
.a-logo-for-a-cafe-rectangle34 {
  width: 100%;
  height: auto;
}
.a-logo-for-a-cafe-rectangle341 {
  width: 100%;
  height: auto;
}
.a-logo-for-a-cafe-rectangle342 {
  width: 100%;
  height: auto;
}
.a-logo-for-a-cafe-rectangle343 {
  width: 100%;
  height: auto;
}
.a-logo-for-a-cafe-text19 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  flex-grow: 1;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1900px) {
  .a-logo-for-a-cafe-text16 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .a-logo-for-a-cafe-text17 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .a-logo-for-a-cafe-tshirts {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12%;
  }
  .a-logo-for-a-cafe-text19 {
    font-size: 28px;
  }
}
@media(max-width: 1400px) {
  .a-logo-for-a-cafe-text16 {
    margin-top: 15%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .a-logo-for-a-cafe-text17 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .a-logo-for-a-cafe-tshirts {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12%;
  }
  .a-logo-for-a-cafe-text19 {
    font-size: 25px;
  }
}
@media(max-width: 991px) {
  .a-logo-for-a-cafe-menue {
    gap: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .a-logo-for-a-cafe-frame84 {
    transform: rotate(270deg);
  }
  .a-logo-for-a-cafe-text16 {
    margin-top: 20%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .a-logo-for-a-cafe-text17 {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .a-logo-for-a-cafe-tshirts {
    gap: var(--dl-space-space-threeunits);
    padding-top: 2%;
  }
  .a-logo-for-a-cafe-rectangle34 {
    width: 100%;
    height: auto;
  }
  .a-logo-for-a-cafe-rectangle341 {
    width: 100%;
    height: auto;
  }
  .a-logo-for-a-cafe-rectangle342 {
    width: 100%;
    height: auto;
  }
  .a-logo-for-a-cafe-rectangle343 {
    width: 100%;
    height: auto;
  }
  .a-logo-for-a-cafe-text19 {
    color: rgb(255, 255, 255);
    width: auto;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .a-logo-for-a-cafe-menue {
    gap: var(--dl-space-space-fourunits);
    width: 100vw;
  }
  .a-logo-for-a-cafe-text16 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .a-logo-for-a-cafe-text17 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .a-logo-for-a-cafe-tshirts {
    gap: var(--dl-space-space-twounits);
    padding-top: 2%;
  }
  .a-logo-for-a-cafe-rectangle34 {
    width: 100%;
  }
  .a-logo-for-a-cafe-rectangle341 {
    width: 100%;
  }
  .a-logo-for-a-cafe-rectangle342 {
    width: 100%;
  }
  .a-logo-for-a-cafe-rectangle343 {
    width: 100%;
  }
  .a-logo-for-a-cafe-text19 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 420px) {
  .a-logo-for-a-cafe-menue {
    gap: var(--dl-space-space-fourunits);
    width: 417px;
    height: 77px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: center;
  }
  .a-logo-for-a-cafe-frame92 {
    transform: scale(0.6,0.6);
  }
  .a-logo-for-a-cafe-frame84 {
    bottom: 9.5rem;
    transform: rotate(270deg) scale(0.6, 0.6);
    margin-right: 90px;
  }
  .a-logo-for-a-cafe-text16 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .a-logo-for-a-cafe-text17 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-top: var(--dl-space-space-unit);
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .a-logo-for-a-cafe-tshirts {
    gap: var(--dl-space-space-twounits);
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .a-logo-for-a-cafe-rectangle34 {
    width: 100%;
  }
  .a-logo-for-a-cafe-rectangle341 {
    width: 100%;
  }
  .a-logo-for-a-cafe-rectangle342 {
    width: 100%;
  }
  .a-logo-for-a-cafe-rectangle343 {
    width: 100%;
  }
  .a-logo-for-a-cafe-text19 {
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
  }
}
