.about-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
}
.about-text {
  margin-top: 10%;
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 50px;
  font-style: Bold;
  text-align: left;
  font-weight: 700;
  line-height: normal;
  padding-top: 0px;
  font-stretch: normal;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0px;
  text-decoration: none;
}
.about-tshirts {
  gap: 40px;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
  flex-direction: column;
  padding-bottom: 12%;
  justify-content: center;
}
.about-frame6 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-rectangle35 {
  width: 10%;
  height: auto;
}
.about-frame52 {
  gap: var(--dl-space-space-twounits);
  width: 814.5px;
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
.about-text01 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 30px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame66 {
  gap: 20px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-text02 {
  color: rgb(255, 255, 255);
  width: 182px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text03 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.about-frame67 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-text04 {
  color: rgb(255, 255, 255);
  width: 182px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text05 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame521 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame661 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-text06 {
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text08 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame671 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-text09 {
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame68 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.about-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame71 {
  gap: 5px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame69 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-text15 {
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text17 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame70 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.about-text19 {
  color: rgba(255, 255, 255, 1);
  width: 479px;
  height: auto;
  font-size: 30px;
  font-style: italic;
  text-align: right;
  
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame79 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame72 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-text21 {
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text23 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame80 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame721 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-text35 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame81 {
  gap: 10px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.about-frame722 {
  gap: 20px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-text49 {
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text51 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: 30px;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1900px) {
  .about-text {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .about-tshirts {
    padding-left: 10%;
    padding-right: 10%;
  }
  .about-text01 {
    font-size: 28px;
  }
  .about-text02 {
    font-size: 28px;
  }
  .about-text03 {
    font-size: 28px;
  }
  .about-text04 {
    font-size: 28px;
  }
  .about-text05 {
    font-size: 28px;
  }
  .about-text06 {
    font-size: 28px;
  }
  .about-text08 {
    font-size: 28px;
  }
  .about-text09 {
    font-size: 28px;
  }
  .about-text11 {
    font-size: 28px;
  }
  .about-text13 {
    font-size: 28px;
  }
  .about-text15 {
    font-size: 28px;
  }
  .about-text17 {
    font-size: 28px;
  }
  .about-text19 {
    font-size: 28px;
  }
  .about-text21 {
    font-size: 28px;
  }
  .about-text23 {
    font-size: 28px;
  }
  .about-text35 {
    font-size: 28px;
  }
  .about-text37 {
    font-size: 28px;
  }
  .about-text49 {
    font-size: 28px;
  }
  .about-text51 {
    font-size: 28px;
  }
}
@media(max-width: 1400px) {
  .about-text {
    margin-top: 15%;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .about-rectangle35 {
    width: 15%;
  }
  .about-text01 {
    font-size: 25px;
  }
  .about-text02 {
    font-size: 24px;
  }
  .about-text03 {
    font-size: 24px;
  }
  .about-text04 {
    font-size: 25px;
  }
  .about-text05 {
    font-size: 25px;
  }
  .about-text06 {
    font-size: 25px;
  }
  .about-text08 {
    font-size: 25px;
  }
  .about-text09 {
    font-size: 25px;
  }
  .about-text11 {
    font-size: 25px;
  }
  .about-text13 {
    font-size: 25px;
  }
  .about-text15 {
    font-size: 25px;
  }
  .about-text17 {
    font-size: 25px;
  }
  .about-text19 {
    font-size: 25px;
  }
  .about-text21 {
    font-size: 25px;
  }
  .about-text23 {
    font-size: 25px;
  }
  .about-text35 {
    font-size: 25px;
  }
  .about-text37 {
    font-size: 25px;
  }
  .about-text49 {
    font-size: 25px;
  }
  .about-text51 {
    font-size: 25px;
  }
}
@media(max-width: 991px) {
  .about-text {
    margin-top: 20%;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .about-frame6 {
    width: 100%;
  }
  .about-rectangle35 {
    width: 15%;
  }
  .about-frame52 {
    gap: var(--dl-space-space-halfunit);
    width: 628px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about-text01 {
    width: auto;
    font-size: 22px;
  }
  .about-frame66 {
    width: 100%;
  }
  .about-text02 {
    width: auto;
    font-size: 22px;
  }
  .about-text03 {
    width: auto;
    font-size: 22px;
  }
  .about-frame67 {
    width: 100%;
  }
  .about-text04 {
    width: auto;
    font-size: 22px;
  }
  .about-text05 {
    font-size: 22px;
  }
  .about-text06 {
    font-size: 22px;
  }
  .about-text08 {
    font-size: 22px;
  }
  .about-text09 {
    font-size: 22px;
  }
  .about-text11 {
    font-size: 22px;
  }
  .about-text13 {
    font-size: 22px;
  }
  .about-text15 {
    font-size: 22px;
  }
  .about-text17 {
    font-size: 22px;
  }
  .about-text19 {
    font-size: 22px;
  }
  .about-text21 {
    font-size: 22px;
  }
  .about-text23 {
    font-size: 22px;
  }
  .about-text35 {
    font-size: 22px;
  }
  .about-text37 {
    font-size: 22px;
  }
  .about-text49 {
    font-size: 22px;
  }
  .about-text51 {
    font-size: 22px;
  }
}
@media(max-width: 767px) {
  .about-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .about-frame52 {
    width: 449px;
  }
  .about-text01 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .about-text02 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .about-text03 {
    font-size: 18px;
  }
  .about-text04 {
    font-size: 18px;
  }
  .about-text05 {
    font-size: 18px;
  }
  .about-text06 {
    font-size: 18px;
  }
  .about-text08 {
    font-size: 18px;
  }
  .about-text09 {
    font-size: 18px;
  }
  .about-text11 {
    font-size: 18px;
  }
  .about-text15 {
    font-size: 18px;
  }
  .about-text17 {
    font-size: 18px;
  }
  .about-text19 {
    font-size: 18px;
  }
  .about-text21 {
    font-size: 18px;
  }
  .about-text23 {
    font-size: 18px;
  }
  .about-text35 {
    font-size: 18px;
  }
  .about-text37 {
    font-size: 18px;
  }
  .about-text49 {
    font-size: 18px;
  }
  .about-text51 {
    font-size: 18px;
  }
}
@media(max-width: 420px) {
  .about-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
  }
  .about-frame6 {
    width: 100%;
    flex-direction: column;
  }
  .about-rectangle35 {
    width: 30%;
  }
  .about-frame52 {
    width: 100%;
  }
  .about-text01 {
    width: 100%;
    font-size: 16px;
  }
  .about-frame66 {
    width: 100%;
  }
  .about-text02 {
    font-size: 16px;
  }
  .about-text03 {
    font-size: 16px;
  }
  .about-frame67 {
    width: 100%;
  }
  .about-text04 {
    font-size: 16px;
  }
  .about-text05 {
    font-size: 16px;
  }
  .about-frame521 {
    gap: var(--dl-space-space-unit);
  }
  .about-frame661 {
    align-items: flex-start;
  }
  .about-text06 {
    font-size: 16px;
  }
  .about-text08 {
    font-size: 16px;
  }
  .about-frame671 {
    gap: 0;
    align-items: flex-start;
    justify-content: space-between;
  }
  .about-text09 {
    font-size: 16px;
  }
  .about-text11 {
    font-size: 16px;
  }
  .about-text13 {
    font-size: 16px;
  }
  .about-frame69 {
    align-items: flex-start;
  }
  .about-text15 {
    font-size: 16px;
  }
  .about-text17 {
    font-size: 16px;
  }
  .about-text19 {
    font-size: 16px;
  }
  .about-text21 {
    font-size: 16px;
  }
  .about-text23 {
    font-size: 16px;
  }
  .about-text35 {
    font-size: 16px;
  }
  .about-text37 {
    font-size: 16px;
  }
  .about-text49 {
    font-size: 16px;
  }
  .about-text51 {
    font-size: 16px;
  }
}
