.home-container {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  overflow: auto;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.home-menue {
  height: 121px;
  display: flex;
  padding: 0 80px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.home-navlink {
  display: contents;
}

.home-navlink.hidden {
  display: none;
}

.home-frame92 {
  width: 165px;
  height: 51.44117736816406px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("/external/tq_olqytaor-_-9ctg-1500h.png");
}
.home-frame84 {
  gap: 10px;
  bottom: 8rem;
  display: flex;
  position: relative;
  transform: rotate(270deg);
  align-self: flex-start;
  align-items: flex-end;
  margin-right: 130px;
  flex-direction: column;
}
.home-navlink {
  display: contents;
}
.home-frame841 {
  width: 120px;
  height: 38px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.home-text {
  top: 6px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame85 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 71, 247, 1);
}
.home-text02 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame86 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(71, 199, 255, 1);
}
.home-text04 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame87 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 255, 117, 1);
}
.home-text06 {
  top: 6px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame88 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 71, 71, 1);
}
.home-text08 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame89 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 152, 31, 1);
}
.home-text10 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame90 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(151, 71, 255, 1);
}
.home-text12 {
  top: 6px;
  left: 5px;
  color: rgba(255, 255, 255, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame91 {
  width: 120px;
  height: 38px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(207, 255, 71, 1);
}
.home-text14 {
  top: 6px;
  left: 5px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-frame47 {
  margin-top: 8%;
  gap: 150px;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-navlink01 {
  display: contents;
}
.home-image2 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group45 {
  width: 367px;
  height: 272px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle19 {
  top: 22px;
  left: 0px;
  width: 340px;
  height: 250px;
  position: absolute;
}
.home-rectangle27 {
  top: 0px;
  left: 27px;
  width: 340px;
  height: 250px;
  position: absolute;
}
.home-text16 {
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink02 {
  display: contents;
}
.home-image4 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group47 {
  width: 290px;
  height: 326px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle21 {
  top: 26px;
  left: 0px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-rectangle29 {
  top: 0px;
  left: 20px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-text18 {
  color: rgba(255, 255, 255, 1);
  width: 261px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink03 {
  display: contents;
}
.home-image3 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group46 {
  width: 823px;
  height: 234px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle20 {
  top: 24px;
  left: 0px;
  width: 800px;
  height: 210px;
  position: absolute;
}
.home-rectangle28 {
  top: 0px;
  left: 23px;
  width: 800px;
  height: 210px;
  position: absolute;
}
.home-text20 {
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink04 {
  display: contents;
}
.home-image5 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group48 {
  width: 430px;
  height: 326px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle22 {
  top: 26px;
  left: 0px;
  width: 400px;
  height: 300px;
  position: absolute;
}
.home-rectangle30 {
  top: 0px;
  left: 30px;
  width: 400px;
  height: 300px;
  position: absolute;
}
.home-text22 {
  color: rgb(255, 255, 255);
  width: 251px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink05 {
  display: contents;
}
.home-image7 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group50 {
  width: 299px;
  height: 326px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle24 {
  top: 26px;
  left: 0px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-rectangle32 {
  top: 0px;
  left: 29px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-text23 {
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink06 {
  display: contents;
}
.home-image6 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group49 {
  width: 290px;
  height: 326px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle23 {
  top: 26px;
  left: 0px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-rectangle31 {
  top: 0px;
  left: 20px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-text25 {
  color: rgb(255, 255, 255);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink07 {
  display: contents;
}
.home-image21 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group451 {
  width: 367px;
  height: 272px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle191 {
  top: 22px;
  left: 0px;
  width: 340px;
  height: 250px;
  position: absolute;
}
.home-rectangle271 {
  top: 0px;
  left: 27px;
  width: 340px;
  height: 250px;
  position: absolute;
}
.home-text26 {
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink08 {
  display: contents;
}
.home-iamge1 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group44 {
  width: 291px;
  height: 322px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle18 {
  top: 22px;
  left: 0px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-rectangle26 {
  top: 0px;
  left: 21px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-text28 {
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink09 {
  display: contents;
}
.home-image8 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group51 {
  width: 295px;
  height: 326px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle25 {
  top: 26px;
  left: 0px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-rectangle33 {
  top: 0px;
  left: 25px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-text30 {
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink10 {
  display: contents;
}
.home-iamge11 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group441 {
  width: 336px;
  height: 232px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle181 {
  top: 22px;
  left: 0px;
  width: 315px;
  height: 210px;
  position: absolute;
}
.home-rectangle261 {
  top: 0px;
  left: 21px;
  width: 315px;
  height: 210px;
  position: absolute;
}
.home-text32 {
  color: rgb(255, 255, 255);
  width: 242px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink11 {
  display: contents;
}
.home-image22 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group452 {
  width: 367px;
  height: 232px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle192 {
  top: 22px;
  left: 0px;
  width: 340px;
  height: 210px;
  position: absolute;
}
.home-rectangle272 {
  top: 0px;
  left: 27px;
  width: 340px;
  height: 210px;
  position: absolute;
}
.home-text33 {
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink12 {
  display: contents;
}
.home-iamge12 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group442 {
  width: 342px;
  height: 272px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle182 {
  top: 22px;
  left: 0px;
  width: 321px;
  height: 250px;
  position: absolute;
}
.home-rectangle262 {
  top: 0px;
  left: 21px;
  width: 321px;
  height: 250px;
  position: absolute;
}
.home-text35 {
  color: rgb(255, 255, 255);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink13 {
  display: contents;
}
.home-iamge13 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group443 {
  width: 291px;
  height: 232px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle183 {
  top: 22px;
  left: 0px;
  width: 270px;
  height: 210px;
  position: absolute;
}
.home-rectangle263 {
  top: 0px;
  left: 21px;
  width: 270px;
  height: 210px;
  position: absolute;
}
.home-text36 {
  color: rgb(255, 255, 255);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink14 {
  display: contents;
}
.home-image51 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group481 {
  width: 386px;
  height: 262px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.home-rectangle221 {
  left: -1px;
  width: 346px;
  bottom: -2px;
  height: 250px;
  position: absolute;
}
.home-rectangle301 {
  top: 0px;
  right: 1px;
  width: 359px;
  height: 238px;
  position: absolute;
}
.home-text37 {
  color: rgba(255, 255, 255, 1);
  width: 348px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink15 {
  display: contents;
}
.home-iamge14 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group444 {
  width: 291px;
  height: 322px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle184 {
  top: 22px;
  left: 0px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-rectangle264 {
  top: 0px;
  left: 21px;
  width: 270px;
  height: 300px;
  position: absolute;
}
.home-text39 {
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-iamge15 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.home-group445 {
  width: 351px;
  height: 216px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle185 {
  left: -1px;
  width: 317px;
  bottom: 0px;
  height: 201px;
  position: absolute;
}
.home-rectangle265 {
  top: -1px;
  right: 1px;
  width: 325px;
  height: 196px;
  position: absolute;
}
.home-text41 {
  color: rgb(255, 255, 255);
  width: 270px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink16 {
  display: contents;
}
.home-image52 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group482 {
  width: 350px;
  height: 267px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.home-rectangle222 {
  left: 0px;
  width: 333px;
  bottom: 1px;
  height: 250px;
  position: absolute;
}
.home-rectangle302 {
  top: 1px;
  right: 1px;
  width: 333px;
  height: 250px;
  position: absolute;
}
.home-text42 {
  color: rgb(255, 255, 255);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-navlink17 {
  display: contents;
}
.home-iamge16 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-decoration: none;
}
.home-group446 {
  width: 271px;
  height: 272px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.home-rectangle186 {
  top: 22px;
  left: 0px;
  width: 250px;
  height: 250px;
  position: absolute;
}
.home-rectangle266 {
  top: 0px;
  left: 21px;
  width: 250px;
  height: 250px;
  position: absolute;
}
.home-text43 {
  color: rgb(255, 255, 255);
  width: 231px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.home-iamge17 {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text44 {
  color: rgb(255, 255, 255);
  width: 231px;
  height: auto;
  font-size: 20px;
  align-self: center;
  font-style: Bold;
  text-align: right;
  
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-menue {
    gap: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-frame84 {
    transform: rotate(270deg);
  }
  .home-frame47 {
    gap: 130px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 767px) {
  .home-menue {
    gap: var(--dl-space-space-fourunits);
    width: 100vw;
  }
  .home-group46 {
    width: 674px;
    height: 197px;
    margin-right: 0px;
    padding-right: 5px;
  }
  .home-rectangle20 {
    width: 650px;
    height: auto;
  }
  .home-rectangle28 {
    width: 650px;
    height: auto;
  }
}
@media(max-width: 420px) {
  .home-menue {
    gap: var(--dl-space-space-fourunits);
    width: 417px;
    height: 77px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: center;
  }
  .home-frame92 {
    transform: scale(0.6,0.6);
  }
  .home-frame84 {
    bottom: 9.5rem;
    transform: rotate(270deg) scale(0.6, 0.6);
    margin-right: 90px;
  }
  .home-group45 {
    width: 329px;
    height: 243px;
  }
  .home-rectangle19 {
    width: 300px;
    height: auto;
  }
  .home-rectangle27 {
    width: 300px;
    height: auto;
  }
  .home-group46 {
    width: 327px;
    height: 97px;
    margin-bottom: 0px;
  }
  .home-rectangle20 {
    top: 18px;
    left: 0px;
    width: 300px;
  }
  .home-rectangle28 {
    top: 4px;
    right: 2px;
    width: 300px;
  }
  .home-group48 {
    width: 330px;
    height: 251px;
  }
  .home-rectangle22 {
    width: 300px;
    height: auto;
  }
  .home-rectangle30 {
    width: 300px;
    height: auto;
  }
  .home-group451 {
    width: 326px;
    height: 242px;
    margin-bottom: 0px;
  }
  .home-rectangle191 {
    width: 300px;
    height: auto;
  }
  .home-rectangle271 {
    width: 300px;
    height: auto;
  }
  .home-group441 {
    width: 321px;
    height: 223px;
    margin-bottom: 0px;
  }
  .home-rectangle181 {
    width: 300px;
    height: auto;
  }
  .home-rectangle261 {
    width: 300px;
    height: auto;
  }
  .home-group452 {
    width: 330px;
    height: 208px;
  }
  .home-rectangle192 {
    width: 300px;
    height: auto;
  }
  .home-rectangle272 {
    width: 300px;
    height: auto;
  }
  .home-group442 {
    width: 319px;
    height: 256px;
  }
  .home-rectangle182 {
    width: 300px;
    height: auto;
  }
  .home-rectangle262 {
    width: 300px;
    height: auto;
  }
  .home-image51 {
    width: 318px;
  }
  .home-group481 {
    width: 317px;
    height: 219px;
  }
  .home-rectangle221 {
    top: 16px;
    left: -2px;
    width: 300px;
    height: 202px;
  }
  .home-rectangle301 {
    top: 1px;
    left: 14px;
    width: 300px;
    height: auto;
  }
  .home-group445 {
    width: 315px;
    height: 198px;
    padding-top: 0px;
  }
  .home-rectangle185 {
    top: 14px;
    left: -2px;
    width: 300px;
    height: 183px;
  }
  .home-rectangle265 {
    top: 1px;
    left: 14px;
    width: 300px;
    height: auto;
  }
  .home-group482 {
    width: 318px;
    height: 241px;
    margin-top: 0px;
  }
  .home-rectangle222 {
    width: 300px;
    height: auto;
  }
  .home-rectangle302 {
    top: -1px;
    right: 1px;
    width: 300px;
    height: auto;
  }
}
