/* Base container styles */
.riso-prints-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
  }
  .riso-prints-menue {
    height: 121px;
    display: flex;
    padding: 0 80px;
    position: relative;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .riso-prints-frame92 {
    width: 165px;
    height: 51.44117736816406px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-size: cover;
    background-image: url("/external/tq_olqytaor-_-9ctg-1500h.png");
  }
  .riso-prints-frame84 {
    gap: 10px;
    bottom: 8rem;
    display: flex;
    position: relative;
    transform: rotate(270deg);
    align-self: flex-start;
    align-items: flex-end;
    margin-right: 130px;
    flex-direction: column;
  }
  .riso-prints-navlink {
    display: contents;
  }
  .riso-prints-frame841 {
    width: 120px;
    height: 38px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
  }
  .riso-prints-text {
    top: 6px;
    left: 5px;
    color: rgba(0, 0, 0, 1);
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .riso-prints-frame85 {
    width: 120px;
    height: 38px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 71, 247, 1);
  }
  .riso-prints-text02 {
    top: 6px;
    left: 5px;
    color: rgba(255, 255, 255, 1);
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .riso-prints-frame86 {
    width: 120px;
    height: 38px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(71, 199, 255, 1);
  }
  .riso-prints-text04 {
    top: 6px;
    left: 5px;
    color: rgba(255, 255, 255, 1);
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .riso-prints-frame87 {
    width: 120px;
    height: 38px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(0, 255, 117, 1);
  }
  .riso-prints-text06 {
    top: 6px;
    left: 5px;
    color: rgba(0, 0, 0, 1);
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .riso-prints-frame88 {
    width: 120px;
    height: 38px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 71, 71, 1);
  }
  .riso-prints-text08 {
    top: 6px;
    left: 5px;
    color: rgba(255, 255, 255, 1);
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .riso-prints-frame89 {
    width: 120px;
    height: 38px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 152, 31, 1);
  }
  .riso-prints-text10 {
    top: 6px;
    left: 5px;
    color: rgba(255, 255, 255, 1);
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .riso-prints-frame90 {
    width: 120px;
    height: 38px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(151, 71, 255, 1);
  }
  .riso-prints-text12 {
    top: 6px;
    left: 5px;
    color: rgba(255, 255, 255, 1);
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .riso-prints-frame91 {
    width: 120px;
    height: 38px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(207, 255, 71, 1);
  }
  .riso-prints-text14 {
    top: 6px;
    left: 5px;
    color: rgba(0, 0, 0, 1);
    width: 110px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .riso-prints-text16 {
    margin-top: 15%;
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    font-size: 22px;
    text-align: left;
    font-weight: 700;
    line-height: normal;
    padding-left: 15%;
    font-stretch: normal;
    text-decoration: none;
  }
  .riso-prints-frame54 {
    gap: 30px;
    width: 70%;
    height: auto;
    display: flex;
    align-self: center;
    margin: 2% auto 12%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 6%;
  }
  .riso-prints-tshirts {
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .riso-prints-rectangle35 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .riso-prints-rectangle351 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .riso-prints-tshirts1 {
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .riso-prints-rectangle352 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .riso-prints-rectangle353 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .riso-prints-tshirts2 {
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .riso-prints-rectangle354 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .riso-prints-rectangle355 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .riso-prints-tshirts3 {
    gap: 30px;  
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .riso-prints-rectangle356 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .riso-prints-rectangle357 {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .riso-prints-frame49 {
    gap: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
  .riso-prints-text17 {
    color: rgb(255, 255, 255);
    height: auto;
    flex-grow: 1;
    font-size: 18px;
    text-align: left;    
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  @media(max-width: 1900px) {
    .riso-prints-text16 {
      font-size: 40px;
      padding-left: 15%;
    }
    .riso-prints-frame54 {
      width: 70%;
    }
    .riso-prints-text17 {
      font-size: 28px;
    }
  }
  @media(max-width: 1400px) {
    .riso-prints-text16 {
      margin-top: 15%;
      font-size: 22px;
    }
    .riso-prints-text17 {
      font-size: 18px;
      font-weight: 400;

    }
  }
  @media(max-width: 991px) {
    .riso-prints-text16 {
      margin-top: 15%;
      font-size: 22px;
    }
    .riso-prints-tshirts, .riso-prints-tshirts1, 
    .riso-prints-tshirts2, .riso-prints-tshirts3 {
      gap: var(--dl-space-space-threeunits);
    }
    .riso-prints-text17 {
      font-size: 18px;
    }
  }
  @media(max-width: 767px) {
    .riso-prints-text16 {
      font-size: 20px;
    }
    .riso-prints-frame54 {
      width: 80%;
    }
    .riso-prints-text17 {
      font-size: 18px;
    }
  }
  @media(max-width: 420px) {
    .riso-prints-text16 {
      font-size: 20px;
    }
    .riso-prints-frame54 {
      width: 90%;
    }
    .riso-prints-tshirts, .riso-prints-tshirts1, 
    .riso-prints-tshirts2, .riso-prints-tshirts3 {
      flex-direction: column;
      gap: var(--dl-space-space-twounits);
    }
    .riso-prints-rectangle35, .riso-prints-rectangle351, 
    .riso-prints-rectangle352, .riso-prints-rectangle353, 
    .riso-prints-rectangle354, .riso-prints-rectangle355, 
    .riso-prints-rectangle356, .riso-prints-rectangle357 {
      width: 100%;
    }
    .riso-prints-text17 {
      font-size: 16px;
    }
  }
  