.unity-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.unity-text {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica Neue;
  font-weight: 700;
  line-height: normal;
  padding-top: 0px;
  font-stretch: normal;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: 0px;
  text-decoration: none;
}
.unity-tshirts {
  gap: 65px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.unity-frame6 {
  gap: 20px;
  display: flex;
  align-items: flex-end;
}
.unity-rectangle35 {
  width: 510px;
  height: 370px;
}
.unity-rectangle34 {
  width: 510px;
  height: 370px;
}
.unity-link {
  display: contents;
}
.unity-frame53 {
  gap: 20px;
  width: 1040px;
  display: flex;
  padding: 20px 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.unity-text1 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica Neue;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.unity-frame52 {
  gap: 20px;
  width: 1037px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.unity-video {
  width: 1095px;
  height: 585px;
}
.unity-frame49 {
  width: 1200px;
  display: flex;
  padding: 0 0 0 70px;
  align-items: center;
  flex-shrink: 0;
}
.unity-text3 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  flex-grow: 1;
  font-size: 25px;
  font-style: Bold;
  text-align: left;
  font-family: Helvetica Neue;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  padding-right: var(--dl-space-space-unit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .unity-text {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    text-decoration: none;
  }
  .unity-rectangle35 {
    width: 420px;
    height: auto;
  }
  .unity-rectangle34 {
    width: 420px;
    height: auto;
  }
  .unity-frame53 {
    width: 860px;
  }
  .unity-frame52 {
    width: auto;
    justify-content: center;
  }
  .unity-video {
    width: 860px;
    height: auto;
  }
  .unity-frame49 {
    width: 100%;
  }
  .unity-text3 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .unity-text {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    text-decoration: none;
  }
  .unity-rectangle35 {
    width: 330px;
  }
  .unity-rectangle34 {
    width: 330px;
  }
  .unity-frame53 {
    width: 680px;
  }
  .unity-video {
    width: 680px;
  }
  .unity-frame49 {
    padding-left: 50px;
  }
  .unity-text3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
}
@media(max-width: 420px) {
  .unity-text {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .unity-frame6 {
    flex-direction: column;
  }
  .unity-rectangle35 {
    width: 350px;
  }
  .unity-rectangle34 {
    width: 350px;
  }
  .unity-frame53 {
    width: 350px;
  }
  .unity-video {
    width: 350px;
  }
  .unity-frame49 {
    padding-left: 40px;
  }
  .unity-text3 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    padding-right: var(--dl-space-space-oneandhalfunits);
    text-decoration: none;
  }
}
